<h1>Edit Photo</h1>

<form action="http://localhost:3000/update_photo/<%= @selected_photo.id %>">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" name="new_caption" value="<%= @selected_photo.caption%>">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="new_source" value="<%= @selected_photo.source%>">
  </div>
  <div>
    <button>Update Photo</button>
  </div>
</form>

<h2>
  <%= @selected_photo.caption %>
</h2>
<div class="row">
  <img src="<%= @selected_photo.source %>" width="800">
</div>
<div class="row ">
  <a href="http://localhost:3000/photos">Go Back</a>
</div>
